@model SOSTransito.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Cliente <i class="fas fa-user-edit"></i></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClienteId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-user"></i></div>
                    </div>
                    <input asp-for="Nome" class="form-control" />
                </div>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="far fa-address-book"></i></div>
                    </div>
                    <input asp-for="CPF" id="cpf" class="form-control" />
                </div>
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-calendar-alt"></i></div>
                    </div>
                    <input asp-for="DataNascimento" class="form-control" />
                </div>
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-map-pin"></i></div>
                    </div>
                    <input asp-for="Endereco" class="form-control" />
                </div>
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cidade</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-map-marker-alt"></i></div>
                    </div>
                    <select asp-for="LocalidadeId" class="form-control" asp-items="ViewBag.LocalidadeId"></select>
                </div>
                <span asp-validation-for="LocalidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-phone"></i></div>
                    </div>
                    <input asp-for="Telefone" id="telefone" class="form-control" />
                </div>
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-envelope-open-text"></i></div>
                    </div>
                    <input asp-for="email" class="form-control" />
                </div>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusSistema" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-envelope-open-text"></i></div>
                    </div>
                    <select asp-for="StatusSistema" class="form-control">
                        <option value="" disabled>Selecione o status de controle...</option>
                        <option value="Ativo">Ativo</option>
                        <option value="Inativo">Inativo</option>
                    </select>
                </div>
                <span asp-validation-for="StatusSistema" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Clientes/Index" class="btn btn-danger"><i class="far fa-times-circle"></i> Cancelar</a>
                    <button type="submit" class="btn btn-success save"><i class="fas fa-save"></i> Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
