.login {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://cdn.pixabay.com/photo/2018/10/31/11/15/justitia-3785581_960_720.jpg');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
