
@{
    ViewData["Title"] = "Denied";
}
<div class="text-center">
    <h1><i class="fas fa-user-shield fa-3x"></i></h1>
    <h1>Permissão Negada!</h1>
    <p>Atenção! Você não possui autorização para acessar essa página.</p>
</div>
