
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="text-center">
    <i style="color:#000000" class="fas fa-user-shield fa-3x"></i>
    <h1>Acesso Negado</h1>
    <p>Atenção! Você não possui autorização para acessar essa página.</p>
</div>