@model SOSTransito.Models.CNH

@{
    ViewData["Title"] = "Cadastrar CNH";
}

<h1>Cadastrar</h1>

<h4>CNH - @ViewBag.Cliente <i class="fas fa-id-card"></i></h4>
<strong class="text-warning"> @TempData["message"]</strong>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="ClienteId" hidden class="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RegistroCNH" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-id-card"></i></div>
                    </div>
                    <input asp-for="RegistroCNH" class="form-control" placeholder="Nº de registro CNH ..." />
                </div>
                <span asp-validation-for="RegistroCNH" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-id-card-alt"></i></div>
                    </div>
                    <select asp-for="Categoria" class="form-control">
                        <option value="" disabled selected>Selecione a categoria da CNH...</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="AB">AB</option>
                        <option value="AC">AC</option>
                        <option value="AD">AD</option>
                        <option value="AE">AE</option>
                    </select>
                </div>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ValidadeCNH" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-calendar-check"></i></div>
                    </div>
                    <input asp-for="ValidadeCNH" class="form-control" placeholder="Validade da CNH..." />
                </div>
                <span asp-validation-for="ValidadeCNH" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StatusCNH" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-toggle-on"></i></div>
                    </div>
                    <select asp-for="StatusCNH" class="form-control">
                        <option value="" disabled selected>Selecione o status da CNH...</option>
                        <option value="Regularizada">Regularizada</option>
                        <option value="Bloqueada">Bloqueada</option>
                        <option value="Suspensa">Suspensa</option>
                        <option value="Cassada">Cassada</option>
                        <option value="Reciclada">Reciclada</option>
                        <option value="Reabilitada">Reabilitada</option>
                    </select>
                </div>
                <span asp-validation-for="StatusCNH" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Clientes/Index" class="btn btn-danger"><i class="far fa-times-circle"></i> Cancelar</a>
                    <button type="submit" class="btn btn-success save"><i class="fas fa-save"></i> Confirmar</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
